.info-para{
    width:80%;
}
.refine-btn{
    margin-top:32px
}
.accessor-head{
    color:#fff;
    padding: 10px;
}

ul {
    list-style: none;
  }
  ul li{
      margin:10px;
    font-size: 14px;
    line-height: 16px;
    font-style: normal;
    font-weight: normal;
  }
  ul li:before { 
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    content: url('../img/tick.png');
    color: #006444;
  }
  .assor-margn{
    margin-top: 35px;
  }
  .acsor-head
  {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
  }
  

 .endors{
     width:100%
 }
  @media screen and (max-width: 480px) {
      .icon-clas{
          font-weight: bold;
      }
.info-para{
    width:100%;
}
.endorm-mob-head{
    margin: 16px;
}
.endorm-mob-head i{
    font-size: 24px;
    color:#4D4D4D;
}
.endorm-mob-head a{
    text-decoration: none;
    font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 24px;
color:#4D4D4D;
}
    .refine-btn
    {
        text-align: center;
    }
   
    .refine-btn1
    {
        display: block;
    }
}

.green-line{
    background-color:  #B2DDCF
  }