#aus-map{position:relative;width:414px;height:350px;
    background-image:url('../img/aus-map/aus-map.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding:0;}
#aus-map li{display:block;position:absolute;list-style:none;margin:0;padding:0;}
#aus-map a{display:block;text-indent:-9999px;text-decoration:none;outline:none;cursor:default;}
#tas{left:302px;top:313px;}
#tas a{width:65px;height:40px;}
/* #tas a:hover{background:url('../img/aus-map/tas_over.png') 0px 0px no-repeat;} */
#vic{left:277px;top:258px;}
#vic a{width:80px;height:50px;}
/* #vic a:hover{background:url('../img/aus-map/vic_over.png') 0px 0px no-repeat;} */
#nsw{left:300px;top:180px;}
#nsw a{width:105px;height:75px;}
/* #nsw a:hover{background:url('../img/aus-map/nsw_over.png') 0px 0px no-repeat;} */
#qld{left:261px;top:2px;}
#qld a{width:140px;height:171px;}
/* #qld a:hover{background:url('../img/aus-map/qld_over.png') 0px 0px no-repeat;} */
#nt{
    left: 163px;
    top: 9px;
}
#nt a{
    width:81px;
    height:133px;
}
/* #nt a:hover{background:url('../img/aus-map/nt_over.png') 0px 0px no-repeat;} */
#sa{left:164px;top:154px;}
#sa a{width:92px;height:107px;}
/* #sa a:hover{background:url('../img/aus-map/sa_over.png') 0px 0px no-repeat;} */
#wa{
    left:13px;
    top:29px;
}
#wa a{
    width: 136px;
    height: 221px;
}
/* #wa a:hover{background:url('../img/aus-map/wa_over.png') 0px 0px no-repeat;} */
@media (max-width: 479px){
    #aus-map{
        width:300px;height:250px;
    }
    #tas{left:226px;top:221px;}
    #tas a{width:46px;height:36px;}

    #vic{left:202px;top:182px;}
    #vic a{width:46px;height:33px;}

    #nsw{left:217px;top:128px;}
    #nsw a{width:77px;height:53px;}

    #qld{left:261px;top:2px;}
    #qld a{width:140px;height:171px;}

    #qld{left:190px;top:2px;}
    #qld a{width:91px;height:104px;}

    #nt{
        left: 121px;
        top: 4px;
    }
    #nt a{
        width:57px;
        height:100px;
    }
    
    #sa{left:121px;top:113px;}
    #sa a{width:74px;height:89px;}

    #wa{
        left:13px;
        top:29px;
    }
    #wa a{
        width: 104px;
        height: 155px;
    }

    
}
@media only screen and (max-width: 768px) and (min-width: 479px){
        #aus-map{
            width:300px;height:250px;
        }
        #tas{left:226px;top:221px;}
        #tas a{width:46px;height:36px;}
    
        #vic{left:202px;top:182px;}
        #vic a{width:46px;height:33px;}
    
        #nsw{left:217px;top:128px;}
        #nsw a{width:77px;height:53px;}
    
        #qld{left:261px;top:2px;}
        #qld a{width:140px;height:171px;}
    
        #qld{left:190px;top:2px;}
        #qld a{width:91px;height:104px;}
    
        #nt{
            left: 121px;
            top: 4px;
        }
        #nt a{
            width:57px;
            height:100px;
        }
        
        #sa{left:121px;top:113px;}
        #sa a{width:74px;height:89px;}
    
        #wa{
            left:13px;
            top:29px;
        }
        #wa a{
            width: 104px;
            height: 155px;
        }
    }