.footer{
    background-color: #006444;
    color:#fff;
    padding:3% 20px 1% 20px;
}
.footer-list span{
    color:#fff;
    font-size: 18px;
    line-height: 24px;
    list-style: none;
    padding:10px 0;
    display: block;
    font-weight: 200;
}
.footer-title{
    color:#fff;
    font-size: 18px;
    font-weight: 400 !important;
}
.footer-btn{
    text-align: center;
    color: #fff;
    text-decoration: none;
    border: 2px solid #fff;
    border-radius: 8px;
    padding: 10px 32px;
    margin-bottom: 5%;
}
.footer-btn:hover{
    color: #fff;
    text-decoration: none;
}
.footer-office{
    font-size: 12px;
}
.footer-no{
    font-size: 20px;
    font-weight: bold;
}
@media (min-width:2000px) {
    .footer-title{
        font-size: 28px;
    }
    .footer-list span{
        font-size: 28px;
        line-height: 30px;
    }
    .footer-btn{
        font-size:28px
    }
}