body{
    background-color: #f5f5f5;
}
.main-area{
    margin-top: 134px;
    /* height: 100%; */
    /* background-color: #E5Ef5f5f5f5f5f55E5; */
}
.general-banner{
    background: url("../img/bg-crane-1.png") no-repeat scroll center center black;  
    background-size: cover;  
    color: #fff; 
    height: 40%;           
}
.general-banner-inner{
    background-color: rgba(70,70,70,0.6);
    height: 100%;
    width: 100%;
}
.banner-content{
    /* height: 100%; */
    padding: 10% 0;
}
.page-title{
    font-size: 44px;
    font-weight: 300;
}
.content{
    padding-top: 5%;
    margin-bottom: 5%;
}
.display-heading{
    font-size: 44px;
    font-weight: 300;
    display: block;
    line-height: 1;
}
.heading-1{
    font-size: 35px;
    font-weight: bold;
    display: block;
    line-height: 1;
}
.heading-2{
    font-size: 28px;
    font-weight: 500;
    display: block;
    line-height: 1;
}
.heading-3{
    font-size: 22px;
    font-weight: 500;
    display: block;
    line-height: 1;
}
.body-text{
    font-size: 18px;
    line-height: 24px;
    /* color:#C4C4C4; */
    color:#8a8989;
}

.body-text-bold{
    font-size: 18px;
    line-height: 24px;
    /* color:#C4C4C4; */
    color:#000000;
    font-weight: bold;

}
.link{
    font-size: 18px;
    font-weight: 400;
    text-decoration-color: #8a8989;
    text-decoration: underline !important;
}
.link:hover{
    font-weight: bold;
    color:#006444;
    text-decoration: underline !important;
}
.small-text{
    font-size: 12px;
    line-height: 16px;
    color:#C4C4C4;
}
.button{
    padding: 14px 34px;
    color: #fff;
    background-color: #006444;
    border-radius: 8px;
}
.button:hover{
    color: #fff;
    text-decoration: none;
    background-color: #2b9070;
}

@media screen and (max-width: 480px) {
    .banner-content{
        padding: 25% 10px;
    }
    .main-area{
        margin-top: 73px;
    }
    .page-title-mob{
        font-style: normal; 
font-size: 44px;
line-height: 46px;
width: 249px;
    height: 92px;
    left: 21px;
    top: 179px;
    }
    .display-heading
    {  
        
        font-size: 44px;
        line-height: 46px;
        color: #006444; 
        align-items: Left;
        Vertical-Align: Top; 
        margin-top: 34px;
        margin-left: 11px;
        letter-spacing: 2px;
        width: 327px; 
    }
    .heading-1{
         
        font-weight: bold;
        font-size: 35px;
        line-height: 46px;
        color: #006444;
        align-items: Left;
        Vertical-Align: Top;
        margin-top: 34px;
        margin-left: 11px;
        width: 327px; 
    }
    .heading-2{ 
        font-weight: bold;
        font-weight: bold;
        font-size: 28px;
        line-height: 46px;
        color: #006444;
        align-items: Left;
        Vertical-Align: Top;
        margin-top: 34px;
        margin-left: 11px;
        width: 268px; 
    }
    
    .heading-3{
        width: 210px; 
        font-weight: bold;
        font-weight: bold;
        font-size: 22px;
        line-height: 46px;
        color: #006444;
        align-items: Left;
        Vertical-Align: Top;
        margin-top: 34px;
        margin-left: 11px;
    }
    .link-area{
        font-weight: bold;     margin-bottom: 19px;
    margin-top: 14px;
    }
    .link-area a{ 
        font-weight: bold;
    }
    .small-area{
       font-style: normal;
        font-size: 12px;
        margin-top: 39px;
        margin-bottom: 49px;
    }
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
  
  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  @media (min-width:2000px) {
    .container{
        max-width: 70% !important;
        width:70% !important;
        margin: auto;
    }
    .display-heading
    {  
        
        font-size: 54px;
       
    }
    .heading-1{
         
        font-size: 45px;
   
    }
    .heading-2{ 

        font-size: 38px;
 
    }
    
    .heading-3{
        font-size: 32px;
    }
    .body-text{
        font-size: 28px;
    }
    
    .body-text-bold{
        font-size: 28px;
    
    }
    .link{
        font-size: 28px;
    }

    .small-text{
        font-size: 22px;
    }
    .button{
        padding: 23px 46px;;
        font-size: 28px;
    }
}