header{
    position: fixed;
    z-index: 10;
    width: 100%;
    top: 0;
}
.header{
    height: 75px;
    background-color: #fff;
    padding:20px;
}
.national_office_wrap{
    width:153px;
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: normal;
    line-height: 16px;
}
.national_office_txt{
    font-size: 12px;
    
}
.national_office_no{
    font-size: 14px;
    font-weight: bold;
}
.main_menu{
    /* position: absolute; */
    height: 54px;
    background: #097451;
}
.navbar .nav .nav-item .nav-link{
    color:#fff;
    font-size: 18px;
    font-weight: 400;
}
.second-nav{
    top: 74px;
}
.menu_nav{
    width:100%;
}
.menu_nav li{
    margin-right: 1%;
}
@media screen and (max-width: 480px) {
    .second-nav{ 
        color: #006444;
    }
    .navbar{
        padding: 0rem 1rem;
    }
}
@media (max-width:768px) and (min-width:481px){
    .second-nav{ 
        color: #006444;
    }
    .navbar{
        padding: 0rem 1rem;
    }
}
@media (min-width:2000px) {
    .navbar .nav .nav-item .nav-link{
        font-size: 28px;
    }
}
