@font-face {
    font-family: proximaNova;
    src: url("../fonts/Proxima\ Nova\ Alt\ Light.otf");
}
@font-face {
font-family: proximaNova;
src: url("../fonts/Proxima\ Nova\ Bold.otf");
font-weight: bold;
}
body > *{
    /* border: 1px solid red; */
    font-family: proximaNova;
}
.primary-bg{
background-color: #006444;
}
.primary{
   color: #006444   ;
}
.banner-area{
    /* height: 800px; */
    background: url("../img/bg-crane-1.png") no-repeat scroll center center black;
    margin-top: 134px;
    color: #fff;
    /* opacity: .8; */
    background-size: cover;
}
.banner-area:after{
    content:'.';
    /* background:url("../img/bg-crane-1.png") no-repeat scroll center center;; */
    background: black;
    opacity:0.2;
}
.banner-inner{
    /* background-color: #000000;
     */
     /* background-color: rgba(0,0,0,0.8); */
    height: 100%;
    width: 100%;
    /* opacity: .8; */
    padding-top: 20px;
}
.banner-text{
    color: #fff;
    width:50%;
    font-weight:200;
}
.banner-text .line-1{
    font-size: 42px;
    margin-bottom: 2px;
}
.banner-text .line-3{
    font-weight: 400 !important;
}
.banner-map-form{
    margin-top:10%;
}
.banner-map{
    width:60%;
}
.banner-map img{
    width:100%;
}
.banner-map .txt-1{
    font-size:28px
}
.banner-map .txt-2{
    font-size: 15px;
    font-weight: 400;
}
.banner-form-wrap{
    width: 65%;
    height: 72%;
    /* background-color: #fff; */
}
.banner-form{
    /* width: 446px; */
    width:100%;
    height: 100%;
    z-index: 10;
    background: url("../img/cica-sticker.png") no-repeat scroll center center;
    background-size: contain;
    border-radius: 10;
    padding:1px;
}
.banner-form form{
    width: 80%;
    margin-top: 25%;
    margin-left: -14px;
}
.form-label{
    font-size:18px'
}
.steps-to-flw{
    /* height: 522px; */
    background: url("../img/crane-pattern.png") scroll center center #006444;
    /* opacity: .8; */
    /* background-size: cover; */
}
.steps-to-flw-inner{
    background-color: #006444;
    height: 100%;
    width: 100%;
    opacity: 0.95;
    padding: 6% 0;
    /* padding-top: 20px; */
}
.steps-heading{
    font-weight: bold;
    font-size: 35px;
    color: #fff;
}
.steps-img{
    width:70%
}
.safe-bold{
    font-weight: bold;
}
/* .step-margin{
    margin:0% 10%
}
.step-margin-right{
    margin-right:10%
}
.step-no{
    display: inline-block;
  width: 60px;
  height: 60px;
  border: 5px solid #fff;    
  border-radius: 100%; 
  font-size: 35px;
  font-weight: bold;
  color:#fff;
}
.step-line{
    display: inline-block;
    width: 13%;
    height: 60px;
    font-size: 35px;
 
}
.step-icn{
    display: inline-block;
  width: 110px;
  
}
.step-line img{
    width:100%;
}
.step-lbl{
    font-size: 20px;
    color:#fff;
    font-weight: normal;
} */
.youtube-div{
    width:60%;
}
.video-cap{
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
}


.hide-web{
    display: none;
}
.custom-toggler{
    padding: 0px 0px;
}
@media only screen and (max-width: 480px) {
 /* .col-md-mob{
    padding-right: 3px;
 }     */
    .youtube-div {
        width: 100%;
        padding-top:5px
    }
    .mobVSP
    { 
    font-size: 35px;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    /* width: 350px;
    height: 126px; 
    top: 2252px; */
    }
    .steps-to-flw{
        height:727px;
    }
    .mobSP
    {
        font-weight: bold;
        font-size: 39px;
        line-height: 42px;
    }
     .p-mob-font-size{
        font-size: 18px;
     }
    .btn1-primary{
        padding: 5px 81px 5px 81px;
    }
    .formbtnGroup{
        padding-top: 30px;
        }
    .hide-web{
        display: block;
    }  
    .hide-mob
    {
        display: none;
    }
    .banner-form{
        height:76%;
        width: 100%;
        background: url("../img/cica-sticker_mob.png") no-repeat scroll center center;
        background-size: contain;
    }
    .banner-form form {
        width: 280px;
        padding-top: 13%;
    }
    .banner-form-wrap
    { 
        width: 100%;
        height: 88%;
    }
    .banner-map{
        width:100%;
    }
    .logo-main{
        width:150px;
    }
    .header{
        padding:20px 5px !important;
    }
    .banner-area{
        margin-top:75px;
    }
    
}
@media (min-width:576px) {
   
}

@media only screen and   (max-width:768px) and (min-width: 481px) {
    /* .col-md-mob{
        padding-right: 3px;
     }     */
        .youtube-div {
            width: 100%;
            padding-top:5px;
        }
        .mobVSP
        { 
        font-size: 35px;
        font-style: normal;
        font-weight: bold;
        font-size: 34px;
        line-height: 42px;
        text-align: center;
        /* width: 350px;
        height: 126px;  */
        /* top: 2252px; */
        }
  
        .mobSP
        {
            font-weight: bold;
            font-size: 39px;
            line-height: 42px;
        }
         .p-mob-font-size{
            font-size: 18px;
         }
        .btn1-primary{
            padding: 5px 81px 5px 81px;
        }
        .formbtnGroup{
            /* padding-top: 67px; */
            }
        .hide-web{
            display: block;
        }  
        .hide-mob
        {
            display: none;
        }
        .banner-form{
            height: 283px;
            width: 371px;
            background: url("../img/cica-sticker_mob.png") no-repeat scroll center center;
        }
        .banner-form form {
            width: 275px;
            margin-top: 96px;
            /* margin-left: 28px; */
        }
        .banner-form-wrap
        { 
            width: 100%;
            height: 88%;
        }
        .banner-map{
            width:75%;
        }
        .logo-main{
            width:150px;
        }
        .header{
            padding:20px 5px !important;
        }
        .banner-area{
            margin-top:75px;
        }
        
}
@media (min-width:769px) and (max-width: 1024px){
    .banner-form-wrap{
        width:90%;
    }
    /* .banner-form{
        width: 100%;
        height: 79%;
    } */
    .banner-form form{
        width: 75%;
        margin-top:18%;
    }
}
@media (min-width:1400px) {
    .form-control{
        height: 35px;
        font-size: 18px;
        /* padding: 1px; */
        border-radius: .35rem;
     }
     .form-label{
         font-size:18px
     }
     .btn1-primary{
        font-size:18px
     }
     .banner-form-wrap .text-1{
        font-size:22px;
    }
    .banner-form form{
        width:80%;
    }
}

@media (min-width:2000px) {
     .form-control{
        height: 50px;
        font-size: 28px;
        /* padding: 1px; */
        border-radius: .5rem;
     }
     .form-label{
         font-size:24px
     }
     .btn1-primary{
        font-size:24px
     }
     .banner-form-wrap .text-1{
        font-size:28px;
    }
    .banner-form form{
        width:70%;
    }
}
.form-head-mob{
    font-size: 28px;
    width: 314px;
    height: 68px;
    text-align: center;
}
.btn1-primary{
    background: #006444;
    border-radius: 8px;
    flex: none;
order: 0;
align-self: flex-start;
/* padding: 8px 32px 0px 0px; */
color: #fff;
}
